* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    overscroll-behavior: none;
}
:root {
    --col: #1b1818f3;
    --main: #dededefb;
    --col1: #d2bfbf;
    --boxs: 0 5px 10px 0 rgba(0, 0, 0, 0.393), 0 7px 21px 0 rgba(0, 0, 0, 0.326);
}

.dark_theme {
    --main: #181515;
    --col: rgb(187, 19, 4);
    --col1: #cdcdcd;

}

body {
    position: relative;
    background-color: var(--main);
    padding-bottom: 60px;
    
}


.continer,
.leftbox,
.fliter,
.foot,
.soc,
.gon,
.gon1,
.gon2 {

    display: flex;
    align-items: center;
    justify-content: center;
}

.gon1 {
    width: 60%;
}

.gon2 {
    width: 40%;
    justify-content: space-around;
}

.fill {
    display: none;
    padding: 5px;
}

.main {
    position: relative;
    width: 300px;
    height: 350px;
    padding: 7px 8px 15px 8px;
    background-color: var(--col1);
    border: 1px solid #2b2828;
    box-shadow: var(--boxs);
    border-radius: 10px;
}

#show {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    justify-items: center;
    align-items: center;
    background-color: var(--main);
    width: 80%;
    padding-bottom: 50px;
    padding-top: 140px;
    

}

.leftbox {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    background-color: rgba(31, 30, 30, 0.934);
}

.logo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 160px;
    margin-bottom: 15px;
    overflow: hidden;
}

.foot {
    position: absolute;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: 120px;
    border-top: 1px double #fff;
    color: #fff;
}

.NAT {
    position: absolute;
    top: 130px;
    left: 20px;
    width: 87%;
    z-index: 10;
    color: #fff;
    text-shadow: #f51919 2px 0 2px;
}

.NATcom {
    position: absolute;
    width: 100%;
    top: 0;
    height: 200px;
    z-index: 9;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.164)55%, rgba(241, 7, 7, 0.568))45%;
}

.ima {
    max-width: 100%;
    height: auto;
}

.fliter {
    width: 80%;
    height: 300px;
    margin-top: 40px;
    flex-direction: column;

}

.leftboxone {
    width: 20%;
}

.gon {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 70px;
    box-shadow: var(--boxs);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--col);
    margin-bottom: 50px;
    z-index: 88;
    transition: all 0.4s;
}

.imagecon {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    overflow: hidden;
    
}
.ul li{
    color: #ffffff;
}
.detial{
    position: absolute;
    z-index: 55;
    width: 100%;
    height: 100%;
    top: -100%;
    padding: 15px 10px 0px 10px;
    text-align: left;
    color: #c64141;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    border: 1px solid #fff;
    transition: top 0.5s;
    cursor: pointer;

}

.imagecon:hover .detial {
    top: 0;
}
.detialadd{
    top: 0;
}
.seemore{
    background-color: #24224f;
    color: #fff;
    font-size: 10px;
    padding: 2px 3px;
    border: none;
    border-radius: 5px;
}
.prvprice {
    text-decoration: line-through;
    color: #ff0909;
}


.imgpro {
    
    border-radius: 5%;
}

img {
    
    max-width: 100%;
    height: 15em;
    object-fit: contain;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.btnkanu {
    width: 100%;
    padding: 7px;
    margin: 3px;
    border-radius: 5px;
    border: none;
}

.active {
    background-color: rgba(255, 21, 0, 0.812);
    color: #fff;
    border: none;

}

.hide {
    display: none;
}

.phonefoot {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2a2525;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #fff;
    padding-top: 10px;


}


/* From Uiverse.io by JaydipPrajapati1910 */

.key_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    gap: 10px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 13px;
    transition: 400ms;
}

.key_button .text {
    color: white;
    font-weight: 700;
    font-size: 10px;
    transition: 400ms;
}

.key_button svg path {
    transition: 300ms;
}

.key_button:hover {
    background-color: transparent;
}

.key_button:hover .text {
    color: #181717;
}

.key_button:hover svg path {
    fill: #181717;
}

.leftboxone1,
.phonefill {
    display: none;
}


/* From Uiverse.io by alexruix */ 
.group {
 display: flex;
 line-height: 28px;
 align-items: center;
 position: relative;
 width: 90%;
}

.input {
 width: 100%;
 height: 30px;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 8px;
 outline: none;
 background-color: #f3f3f4;
 color: #0d0c22;
 transition: .3s ease;
}

.input::placeholder {
 color: #9e9ea7;
}

.input:focus, input:hover {
 outline: none;
 border-color: rgba(234,76,137,0.4);
 background-color: #fff;
 box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
 position: absolute;
 left: 1rem;
 fill: #9e9ea7;
 width: 1rem;
 height: 1rem;
}








@media screen and (max-width:800px) {
    .key_button svg path {
       display: none;
    }

    .leftbox,
    .leftboxone {
        display: none;
    }

    .phonefoot,
    .fill {
        display: flex;
        

    }
.fill{
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all 0.3s;
}

    #show {
        width: 100%;
        padding-top: 150px;
    }
    .ul li{
        font-size: 9px;
    }
    .leftboxone1 {
        display: block;
        position: fixed;
        top: 0;
        height: 150px;
        width: 100%;
        overflow: hidden;
        background-color: green;
    }

    .ima {
        object-fit: cover;
        margin-top: -70px;
        width: 100%;
    }

    .continer {
        flex-direction: column;
        padding-top: 150px;
    }

    .gon {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        height: 100px;
        z-index: 999;
        padding-top: 50px;
        align-items: flex-start;
        min-width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
        transition: all 0.3s;

    }

    .filladd {
        background-color: #c64141;
        
        border: none;
        color: #fff;

    }

    .gonadd {
        height: 200px;
        transition: all 0.4s;
    }

    .phonefill {
        position: absolute;
        bottom: -100px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        background-color: #1c1a1ac6;
        transition: all 0.4s;
    }

    .phonefilladd {
        bottom: -25px;
      }

    .gon2 {
        /* margin-top: -115px; */
        justify-content: space-around;
    }


    .NAT {
        position: absolute;
        top: 100px;
        left: 20px;
        width: 87%;
        z-index: 10;
        color: #fff;
        text-shadow: #f51919 2px 0 2px;
    }

    .key_button {
        padding: 3px 3px;
        gap: 1px;
    }

    .key_Name {
        width: 100%;
        font-size: 12px;
    }

    .key_price,
    .key_price {
        font-size: 9px;
    }

    .key_button .text {
        text-align: center;
        font-size: 8px;
    }

}

@media screen and (max-width:680px) {
    .main {
        position: relative;
        width: 150px;
        height: 210px;
        padding: 7px 8px 13px 8px;

    }

    .gon {
        flex-direction: column;
        padding-top: 50px;
        /* align-items: flex-start; */

    }

    .gon1,
    .gon2 {
        z-index: 88;
        display: flex;
        width: 100%;
    }

    .gon1 {
        margin-top: -35px;
        margin-bottom: 10px;
    }

    .gon2 {
        /* margin-top: -15px; */
        justify-content: space-around;
    }

    #show {
        position: relative;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: repeat(4, 1fr);
        gap: 0.7em;
        width: 100%;


    }

    .btnkanu {
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        font-size: 10px;
        border: none;
    }

    img {
        max-width: 100%;
        height: 6em;
        object-fit: contain;
    }

    .key_button {
        
        padding:1px 4px;
    }

    .key_Name {
        width: 100%;
        font-size: 12px;
    }

    .key_price,
    .key_price {
        font-size: 9px;
    }

    .key_button .text {
        text-align: center;
        font-size: 8px;
    }
}
